<div class="card">
  <div class="card-image">
    <figure class="image is-square">
      <% if trade.images.attached? %>
        <%= link_to image_tag(rails_blob_path(trade.images.first, resize: "640x480>")), trade %>
      <% else %>
        <%= link_to "No Image Available", trade %>
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <h3 class="pt1 title is-5"><%= trade.title %></h3>
    <p class="pv1"><%= truncate(trade.description, length: 120) %></p>
    <div class="media pt3">
      <div class="media-left pt3">
        <figure class="image is-48x48">
          <%= gravatar_for(trade.user, size: 96) %>
        </figure>
      </div>
      <div class="media-content">
        <% if trade.user %>
          <p class="has-text-weight-bold mb0"><%= trade.user.email %></p>
        <% else %>
          <p class="has-text-weight-bold mb0">Anonymous User</p>
        <% end %>
        <p class="is-italic mb0"><time>posted <%= time_ago_in_words(trade.created_at) %> ago</time></p>
      </div>
    </div>
  </div>
</div>
